<script>
    URLs= [];
</script>

    <script>URLs.push('/game/1v1-lol.html');</script>

    <script>URLs.push('/game/1v1-school.html');</script>

    <script>URLs.push('/game/2048-io.html');</script>

    <script>URLs.push('/game/adam-and-eve-7.html');</script>

    <script>URLs.push('/game/amazing-strange-rope-police.html');</script>

    <script>URLs.push('/game/among-us.html');</script>

    <script>URLs.push('/game/aquapark-io.html');</script>

    <script>URLs.push('/game/armed-forces-io.html');</script>

    <script>URLs.push('/game/astro-dud-io.html');</script>

    <script>URLs.push('/game/avoids-io.html');</script>

    <script>URLs.push('/game/baby-chicco-adventures.html');</script>

    <script>URLs.push('/game/baldi-basics.html');</script>

    <script>URLs.push('/game/bandit-rip.html');</script>

    <script>URLs.push('/game/basket-random.html');</script>

    <script>URLs.push('/game/basketball-stars.html');</script>

    <script>URLs.push('/game/battle-dudes-io.html');</script>

    <script>URLs.push('/game/betrayal-io.html');</script>

    <script>URLs.push('/game/blockpost.html');</script>

    <script>URLs.push('/game/bonk-2-beta.html');</script>

    <script>URLs.push('/game/bottle-flip-3d.html');</script>

    <script>URLs.push('/game/boxfight-io.html');</script>

    <script>URLs.push('/game/browser-fps.html');</script>

    <script>URLs.push('/game/build-royale-io.html');</script>

    <script>URLs.push('/game/catac-io.html');</script>

    <script>URLs.push('/game/catch-the-thief.html');</script>

    <script>URLs.push('/game/clash-royale.html');</script>

    <script>URLs.push('/game/classic-paper-io-2.html');</script>

    <script>URLs.push('/game/cobraz-io.html');</script>

    <script>URLs.push('/game/color-tunnel.html');</script>

    <script>URLs.push('/game/copter-royale.html');</script>

    <script>URLs.push('/game/craftnite-io.html');</script>

    <script>URLs.push('/game/crazy-roll-3d.html');</script>

    <script>URLs.push('/game/creatur-io.html');</script>

    <script>URLs.push('/game/cs-clone.html');</script>

    <script>URLs.push('/game/cubeshot-io.html');</script>

    <script>URLs.push('/game/darts-frvr.html');</script>

    <script>URLs.push('/game/dead-shot-io.html');</script>

    <script>URLs.push('/game/death-run-3d.html');</script>

    <script>URLs.push('/game/deeeep-io.html');</script>

    <script>URLs.push('/game/defly-io.html');</script>

    <script>URLs.push('/game/devast-io.html');</script>

    <script>URLs.push('/game/digworm-io.html');</script>

    <script>URLs.push('/game/dinosaur-game.html');</script>

    <script>URLs.push('/game/doge-miner-2.html');</script>

    <script>URLs.push('/game/draw-love-story.html');</script>

    <script>URLs.push('/game/drift-hunters.html');</script>

    <script>URLs.push('/game/egg-toss.html');</script>

    <script>URLs.push('/game/evo-warriors.html');</script>

    <script>URLs.push('/game/evo-world-io.html');</script>

    <script>URLs.push('/game/fall-guys-season-2.html');</script>

    <script>URLs.push('/game/fall-guys.html');</script>

    <script>URLs.push('/game/family-relics.html');</script>

    <script>URLs.push('/game/ferge-io.html');</script>

    <script>URLs.push('/game/fireboy-and-watergirl-forest-temple.html');</script>

    <script>URLs.push('/game/fnaf-web.html');</script>

    <script>URLs.push('/game/forcez-io.html');</script>

    <script>URLs.push('/game/fps-assault-shooter.html');</script>

    <script>URLs.push('/game/full-screen-mario.html');</script>

    <script>URLs.push('/game/funny-ragdoll-wrestlers.html');</script>

    <script>URLs.push('/game/ghost-strike.html');</script>

    <script>URLs.push('/game/grand-action-simulator.html');</script>

    <script>URLs.push('/game/grims-io.html');</script>

    <script>URLs.push('/game/grindcraft-2.html');</script>

    <script>URLs.push('/game/hanger-2.html');</script>

    <script>URLs.push('/game/headless-gg.html');</script>

    <script>URLs.push('/game/hedz-io.html');</script>

    <script>URLs.push('/game/hole-io.html');</script>

    <script>URLs.push('/game/hotdogz-io.html');</script>

    <script>URLs.push('/game/impostor-io.html');</script>

    <script>URLs.push('/game/island-survival-3d.html');</script>

    <script>URLs.push('/game/jurrasic-world-survival.html');</script>

    <script>URLs.push('/game/just-fall-lol.html');</script>

    <script>URLs.push('/game/kirka-io.html');</script>

    <script>URLs.push('/game/kogama-parkour.html');</script>

    <script>URLs.push('/game/krunker-io.html');</script>

    <script>URLs.push('/game/light-it-up.html');</script>

    <script>URLs.push('/game/little-big-snake.html');</script>

    <script>URLs.push('/game/lolshot-io.html');</script>

    <script>URLs.push('/game/lordz-io.html');</script>

    <script>URLs.push('/game/merc-zone.html');</script>

    <script>URLs.push('/game/mini-royale-2-io.html');</script>

    <script>URLs.push('/game/mini-royale-nations-io.html');</script>

    <script>URLs.push('/game/mini-shooters-io.html');</script>

    <script>URLs.push('/game/minigiants-io.html');</script>

    <script>URLs.push('/game/moo-moo-io.html');</script>

    <script>URLs.push('/game/moomoo-sandbox.html');</script>

    <script>URLs.push('/game/mope-io.html');</script>

    <script>URLs.push('/game/narrow-one.html');</script>

    <script>URLs.push('/game/naruto-vs-bleach.html');</script>

    <script>URLs.push('/game/newgrounds-rumble.html');</script>

    <script>URLs.push('/game/oceanar-io.html');</script>

    <script>URLs.push('/game/ovo.html');</script>

    <script>URLs.push('/game/paper-animals-io.html');</script>

    <script>URLs.push('/game/paper-io-9.html');</script>

    <script>URLs.push('/game/paper-io-classic.html');</script>

    <script>URLs.push('/game/paper-minecraft.html');</script>

    <script>URLs.push('/game/parkour-lol.html');</script>

    <script>URLs.push('/game/parkour-race.html');</script>

    <script>URLs.push('/game/pixel-battle-royale.html');</script>

    <script>URLs.push('/game/pixel-combat-2.html');</script>

    <script>URLs.push('/game/pixel-shooter.html');</script>

    <script>URLs.push('/game/pizza-tower.html');</script>

    <script>URLs.push('/game/poppy-playtime.html');</script>

    <script>URLs.push('/game/president-simulator.html');</script>

    <script>URLs.push('/game/rabbids-wild-race.html');</script>

    <script>URLs.push('/game/raid-land.html');</script>

    <script>URLs.push('/game/rail-surfers.html');</script>

    <script>URLs.push('/game/repuls-io.html');</script>

    <script>URLs.push('/game/rocket-clash-3d.html');</script>

    <script>URLs.push('/game/rooftop-snipers.html');</script>

    <script>URLs.push('/game/royale-dudes-io.html');</script>

    <script>URLs.push('/game/run-3.html');</script>

    <script>URLs.push('/game/sausage-flip.html');</script>

    <script>URLs.push('/game/scary-maze.html');</script>

    <script>URLs.push('/game/scenexe-io.html');</script>

    <script>URLs.push('/game/school-break-io.html');</script>

    <script>URLs.push('/game/sector-01.html');</script>

    <script>URLs.push('/game/shell-shockers-io.html');</script>

    <script>URLs.push('/game/shooterz-io.html');</script>

    <script>URLs.push('/game/skribbl-io.html');</script>

    <script>URLs.push('/game/slither-io.html');</script>

    <script>URLs.push('/game/slope-2.html');</script>

    <script>URLs.push('/game/slope.html');</script>

    <script>URLs.push('/game/snay-io.html');</script>

    <script>URLs.push('/game/sniper-3d.html');</script>

    <script>URLs.push('/game/snowball-io.html');</script>

    <script>URLs.push('/game/soccer-skills-euro-cup.html');</script>

    <script>URLs.push('/game/space-thing.html');</script>

    <script>URLs.push('/game/sploop-io.html');</script>

    <script>URLs.push('/game/squid-challenge.html');</script>

    <script>URLs.push('/game/stabfish-2-io.html');</script>

    <script>URLs.push('/game/starve-io.html');</script>

    <script>URLs.push('/game/stickman-shooter-2.html');</script>

    <script>URLs.push('/game/stumble-guys.html');</script>

    <script>URLs.push('/game/subway-surfers.html');</script>

    <script>URLs.push('/game/super-fowlst.html');</script>

    <script>URLs.push('/game/superhex-io.html');</script>

    <script>URLs.push('/game/surviv-io.html');</script>

    <script>URLs.push('/game/swordbattle-io.html');</script>

    <script>URLs.push('/game/taming-io.html');</script>

    <script>URLs.push('/game/tank-trouble-2.html');</script>

    <script>URLs.push('/game/tanks-battle.html');</script>

    <script>URLs.push('/game/tankster-io.html');</script>

    <script>URLs.push('/game/territorial-io.html');</script>

    <script>URLs.push('/game/tile-man-io.html');</script>

    <script>URLs.push('/game/tunnel-rush.html');</script>

    <script>URLs.push('/game/two-ball-3d.html');</script>

    <script>URLs.push('/game/typing-fighter.html');</script>

    <script>URLs.push('/game/venge-io.html');</script>

    <script>URLs.push('/game/vex-3-html.html');</script>

    <script>URLs.push('/game/vex-6.html');</script>

    <script>URLs.push('/game/vex-7.html');</script>

    <script>URLs.push('/game/voxiom-io.html');</script>

    <script>URLs.push('/game/war-brokers-io.html');</script>

    <script>URLs.push('/game/wild-west-clash.html');</script>

    <script>URLs.push('/game/witz-io.html');</script>

    <script>URLs.push('/game/wormate-io.html');</script>

    <script>URLs.push('/game/zahvat-io.html');</script>

    <script>URLs.push('/game/zombotron-2.html');</script>

    <script>URLs.push('/game/zombs-royale-io.html');</script>


<script>
    url= URLs[Math.floor(Math.random()* URLs.length)];
    console.log("url", url);
    window.location= url;
</script>
