body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: #16C4BB;
}

a:hover {
  transition: 0.2s;
}

.top-header {
  background: #f8f8f8;
  color: #2d3e58;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
}

.gamepad {
  font-size: 14px;
}

.gamepad svg {
  color: #16c4bb;
  margin-right: 5px;
}

.search-btn {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-btn svg {
  margin-right: 5px;
}

/* Search Modal */

.search-modal {
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  transition: 0.4s;
}

.search-modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  color: #fff;
  justify-content: center;
  /*align-items: center;*/
  z-index: 1000;
  margin: 0 auto;
  /*padding: 0 50px;*/
  margin-top: 70px;
}

.search-modal.active {
  display: flex;
  transition: 0.4s;
  z-index: 10000;
}

.search-modal .search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  border-radius: 8px;
  width: 100%;
  position: relative;
}

.search-modal .search-field {
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 22px;
  border: 0;
  border-bottom: 1px dashed #999;
  height: auto;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: #ececec;
  border-radius: 0;
  background: transparent;
}

.search-modal .search-field::placeholder {
  color: white;
  width: calc(100% - 70px);
  text-overflow: ellipsis;
}

.form-control:focus {
  box-shadow: none;
}

.search-modal .close-btn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 55px;
  cursor: pointer;
  color: rgba(255,255,255,0.65);
  -webkit-text-stroke: 2px black;
}

.search-modal .close-btn:hover {
  color: rgba(255,255,255,1);
}

.search-modal .search-icon {
  font-size: 26px;
  background: transparent;
  box-shadow: none;
  color: #aaa;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.search-modal .search-icon:hover {
  color: white;
}

.navbar {
  background: #2d3e58;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
}

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
}

.nav-link:hover, .nav-link.active {
  background: #3469af;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 10px 20px;
}

.navbar-nav .dropdown-menu {
  width: 270px;
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: none;
}

.navbar-nav .dropdown-menu:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  left: 20px;
  top: -5px;
  content: '';
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  background: #16c4bb;
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: none;
  background: rgba(0,0,0,.2);
  width: 100%;
  border-radius: 0;
  margin: 3px 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border: none;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.menu-mobile {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.random {
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  border-radius: 0;
  padding: 10px 10px;
  border: none;
  box-shadow: none;
}

.random svg {
  color: #16c4bb;
}

.random:hover {
  background: #3469af;
}

@media (max-width: 991px) {
  .nav-link {
    padding: 0.5rem;
  }
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .nav-link:hover {
    background: rgba(0,0,0,.2);
  }
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    width: 100%;
    background: transparent;
    box-shadow: none;
    color: white;
  }
}

@media (max-width: 991px) {
  .navbar .dropdown-item {
    color: white;
  }
}

@media (max-width: 991px) {
  .search-btn {
    justify-content: end;
    display: flex;
  }
}

/* slide */

.slider-games {
  background: #3469AF;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 10px;
}

.slide {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 11px;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: 576px) {
  .slide {
    max-width: 50%;
    min-width: 50%;
  }
}

@media (min-width: 768px) {
  .slide {
    max-width: 33.33%;
    min-width: 33.33%;
  }
}

@media (min-width: 992px) {
  .slide {
    max-width: 25%;
    min-width: 25%;
  }
}

@media (min-width: 1200px) {
  .slide {
    max-width: 20%;
    min-width: 20%;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 40px;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide .game-item {
  position: relative;
  padding: 10px 10px 10px 80px;
  position: relative;
  height: 80px;
  transition: all .2s;
  background: rgba(0,0,0,.1);
}

.slide .game-item:hover {
  background: rgba(0,0,0,.2);
}

.slide .thumb {
  position: absolute;
  overflow: hidden;
  left: 10px;
  top: 10px;
}

.slide .thumb img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.slide .thumb:hover img {
  transform: scale(1.15);
  transition: all .2s ease;
  opacity: .1;
}

.slide .content .heading {
  line-height: 20px;
  font-weight: 700;
  font-size: 12px;
}

.slide .content .heading a:hover {
  color: #16C4BB;
}

.slide .content .heading a {
  color: white;
}

.vote {
  font-size: 12px;
  display: inline-block;
  margin-right: 0;
}

.stars {
  background: url(../../assets/img/star.png) repeat-x;
  height: 15px;
  width: 75px;
  clear: both;
  direction: ltr;
}

.stars span {
  display: block;
  background: url(../../assets/img/stars.png) repeat-x;
  height: 20px;
}

@media (min-width: 1400px) {
  .vote {
    margin-right: 20px;
  }
}

.icon-play svg {
  color: #16C4BB;
  font-weight: 700;
  font-size: 12px;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.user {
  font-size: 10px;
}

.gamepad-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 200%;
  margin: auto;
  bottom: 0;
  right: 0;
  text-align: center;
  /*font-size: 0;*/
  background: #16c4bb;
  color: white;
}

.thumb:hover .gamepad-icon {
  top: -10px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.scroll-to-top:hover {
  background-color: #16c4bb;
  color: white;
}

.news {
  background: #2D3E58;
  color: white;
}

.news-cn:before {
  background-color: #3469AF;
  content: '';
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 100%;
}

.news-cn {
  display: flex;
  position: relative;
  font-size: 12px;
}

.news-cn .left-news {
  position: absolute;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 0;
  padding: 0 15px;
  margin-left: -15px;
  min-width: 90px;
  text-transform: uppercase;
  background: #3469AF;
}

.news-cn .left-news:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid #3469AF;
  border-right: 20px solid transparent;
  position: absolute;
  top: 0;
  right: -20px;
}

.news-cn .right-news {
  padding: 10px 60px 10px 100px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  overflow: hidden;
}

.news-cn .right-news a {
  margin-right: 10px;
  font-weight: 700;
}

.news-cn .right-news a:hover {
  text-decoration: underline;
}

.news-cn i {
  color: #16c4bb;
}

.title {
  display: flex;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}

.title h1 {
  flex: 1;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.dropdown-item i {
  color: transparent;
}

.dropdown-item.selected i {
  color: #16c4bb;
}

.dropdown-item.selected:hover i {
  color: white;
}

.title .dropdown-toggle {
  color: #2d3e58;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 5px;
  border: none;
}

.title .dropdown-toggle:focus {
  border: none;
}

.title .dropdown-menu {
  border: none;
  transform: translate(-76px, 40px) !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

/* list game */

.item .image {
  position: relative;
  padding-bottom: 50%;
  display: block;
  height: 0;
  overflow: hidden;
  min-height: 180px;
}

.item .image img {
  width: 100%;
  min-height: 180px;
  object-fit: cover;
}

.item .heading {
  color: black;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 22px;
  padding-top: 0px;
  padding-left: 2px;
}

.item .heading a {
  color: black;
}

.item .image a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  z-index: 1;
  opacity: 0;
}

.item:hover .image a:before {
  opacity: 1;
}

.item .image:hover img {
  opacity: 0.8;
  transform: scale(1.15);
  transition: all 0.3s;
}

.text h2 {
  font-size: 20px;
  font-weight: 700;
}

.text h3 {
  font-size: 16px;
  font-weight: 700;
}

.text a {
  color: #2d3e58;
}

.text a:hover {
  color: #16c4bb;
}

.list-100 h1 {
  font-size: 30px;
  font-weight: 700;
}

.list-100 ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.list-100 ul li {
  width: 50%;
  height: 20px;
  line-height: 20px;
  list-style-type: none;
  margin-bottom: 10px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .list-100 ul li {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  .list-100 ul li {
    width: 25%;
  }
}

.list-100 ul li a {
  display: block;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #2d3e58;
}

.list-100 ul li a:hover {
  color: #16c4bb;
}

footer {
  background: #3469af;
  padding-top: 20px;
  color: white;
}

footer ul li a {
  color: white;
}

footer ul li::marker {
  color: #999;
}

.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social li {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}

.social li.fb {
  background: #0866ff;
}

.social li.mail, .social li.mail a {
  background: #f0f0f0;
  color: #999;
}

.copyright {
  background: #2d3e58;
  padding: 10px;
}

/* cate */

.breadcrumb-item a {
  color: black;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  .title {
    flex-direction: column;
  }
}

.game-cate-item {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.game-cate-item .game-image {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-cate-item .game-image img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
}

.game-image a:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  z-index: 1;
  opacity: 0;
}

.game-cate-item:hover .game-image a:before {
  opacity: 1;
  transition: 0.3s;
}

.game-text {
  bottom: -100%;
  padding: 0 10px 10px;
  transition: all .2s;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
}

.game-cate-item:hover .game-text {
  bottom: 0;
}

.game-cate-item:hover .game-image img {
  transform: scale(1.15);
  transition: all .2s ease;
  opacity: .5;
}

.game-heading {
  text-shadow: 2px 2px 5px #000;
  font-size: 14px;
}

.game-heading a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

/* detail */

.game-player {
  background-color: #f1f1f1;
  border-radius: 5px;
  color: white;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.single-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  /*justify-content: center;*/
}

.single-info-container .heading {
  font-size: 20px;
  color: black;
  margin-bottom: 0;
}

.action-btn {
  display: flex;
  gap: 20px;
}

.action-btn > div {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.stats-vote .ic-btn {
  /*font-size: 12px;*/
  background: rgba(0,0,0,.5);
  border-radius: 100%;
  width: 30px;
  padding: 0 7px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.stats-vote .ic-btn:hover {
  background: #1abc9c;
  cursor: pointer;
}

.share-btn {
  position: relative;
  transition: 0.3s;
}

.share-social {
  position: absolute;
  top: 100%;
  left: -20px;
  padding: 15px;
  list-style: none;
  width: 70px;
  color: black;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  text-align: center;
  z-index: 1000;
  opacity: 0;
}

.share-btn:hover .share-social {
  opacity: 1;
  transition: ease 0.3s;
}

.share-social:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  margin: auto;
}

.share-social li {
  float: none;
  width: 40px;
}

.share-social li a {
  width: 40px;
  line-height: 40px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: gray;
}

.share-social li a:hover {
  color: #16c4bb;
}

